.bg-white {
    background-color: white;
}

.inline-form {
    display: flex;
    flex-direction: row;
}

.inline-form>* {
    margin: 0 1rem 0 0;
}

.inline-form>*:last-child {
    margin-right: 0;
}

.leave {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.min-height-100 {
    min-height: 100vh;
}

.min-height-80 {
    min-height: 80vh;
}

.py1 {
    padding: 1rem 0;
}

.p1 {
    padding: 1rem;
}

.stick-bottom {
    position: sticky;
    bottom: 0;
}

.toasts {
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
    display: flex;
    max-width: 100%;
    flex-direction: column;
}

.toasts>* {
    margin: 0.5rem auto;
    width: 100%;
    max-width: 280px;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
    opacity: 0.1;
    animation-name: slide-fade-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.toasts>*.error {
    background-color: rgb(193, 0, 0);
}

.toasts>*:nth-last-child(4) {
    opacity: 0.25;
}

.toasts>*:nth-last-child(3) {
    opacity: 0.5;
}

.toasts>*:nth-last-child(2) {
    opacity: 0.75;
}

.toasts>*:last-child {
    opacity: 1;
}